
{% load static %}
{% load custom_tags %}

<link rel="stylesheet" href="{% static 'incident_card.css' %}" type="text/css" />




<div class="container">
  <div class="cards-container">
    <div class="last-modification">
      <span>Última actualización: {{incidencias.0.tiempo_registro}}</span>
    </div>
    
    {% for incidencia in incidencias %}
      <div class="mb-3 card-incidencia">
        <div class="row g-0">
          <div class="col-md-4 d-flex align-items-center {% get_color_bg incidencia.causa|lower %}">
            <i class="icon-incidencia fa-solid {% get_icon_name incidencia.causa|lower %} fa-2x mb-1"></i>
            <div class="title-incidencia">
              <span class="via_text">{{ incidencia.via }}</span>
              <span class="causa_text">{{ incidencia.causa }}</span>
            </div>
          </div>
  
          <div class="col-md-8 card-details">
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between">
                  <span class="tag-detail">Dirección:</span>
                  <span>{{ incidencia.direccion }}</span>              
                <li class="list-group-item d-flex justify-content-between">
                  <span class="tag-detail">Nivel:</span>
                  <span>{{ incidencia.nivel }} ({{ incidencia.longitud }} Km)</span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                  <span class="tag-detail">Tramo:</span>
                  <span>{{ incidencia.tramo }}</span>
                </li>
                
                <li class="list-group-item d-flex justify-content-between">
                  <span class="tag-detail">Observaciones:</span>
                  <span>Inicio: {{incidencia.inicio}} - {{ incidencia.observaciones }}</span>
                </li>

              </ul>
            </div>
          </div>
        </div>
      </div>
    
    {% endfor %}
  </div>
</div>
