
  /* .cards-container {
    display: grid;
    place-items: center;
  } */

  .last-modification {
    text-align: right;
    color: var(--light-text);
    padding-bottom: 10px;
  }

  .card-incidencia {
    /* width: 100%; */
    max-width: 600px;
    margin: 0 auto;
    background-color: var(--light-bg);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow */
  }

  .icon-incidencia {
    padding: 15px;
  }
  .title-incidencia {
    display: flex;
    flex-direction: column;
  }
  
  @media (max-width: 768px) {
    .title-incidencia {
      display: flex;
      flex-direction: row;
      /* margin-right: 20px; */
    }
  }

  .via_text {
    font-size: 1.2rem;
    font-weight: bold;
  }

  .causa_text {
    margin-left: 5px;
    font-size: 1.2rem;
  }
  
  .overflow-hidden {
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  .list-group-item {
    padding: 0.5rem 1rem;
  }

  .list-group {
    --bs-list-group-bg: #transparent !important;
  }


  .bg_accident {
    background-color: #F38181;
  }
  .bg_circulacio {
    background-color: #FCE38A;
  }
  .bg_sin_incidencias {
    background-color: #EAFFD0;
  }
  .bg_obras {
    background-color: #95E1D3;
  }

  .tag-detail {
    font-weight: bold;
    color: var(--light-text);
    opacity: 0.5;

  }